@{
    ViewBag.Title = "About";
}

<div class="wp-block-media-text alignfull is-stacked-on-mobile is-image-fill" style="grid-template-columns:38% auto;">
        <figure class="wp-block-media-text__media" style="background-image:url('https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=750');background-position:24% 63%;">
            <img data-attachment-id="235" data-permalink="https://turmoilortranquil.wordpress.com/2020/05/22/%e0%a4%86%e0%a4%9c-%e0%a4%ac%e0%a4%b8-%e0%a4%af%e0%a5%82%e0%a4%b9%e0%a5%80/img_2223/" data-orig-file="https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg" data-orig-size="4032,3024" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;2.2&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;iPhone SE&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1554136607&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;4.15&quot;,&quot;iso&quot;:&quot;25&quot;,&quot;shutter_speed&quot;:&quot;0.0081967213114754&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;0&quot;}" data-image-title="IMG_2223" data-image-description="" data-medium-file="https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=300" data-large-file="https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=750" src="https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=750" alt="" class="wp-image-235" srcset="https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=750 750w, https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=1500 1500w, https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=150 150w, https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=300 300w, https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=768 768w, https://turmoilortranquil.files.wordpress.com/2020/04/img_2223.jpg?w=1024 1024w" sizes="(max-width: 750px) 100vw, 750px">
        </figure>
        <div class="wp-block-media-text__content">
            <h2 class="margin-bottom-half">Avantika Bisht</h2>



            <p class="margin-top-half has-small-font-size">Software Engineer</p>



            <p><strong><em>Hello,</em></strong></p>



            <p>Welcome to my place</p>



            <p>It’s very common that we often fail to understand the simple thing behind&nbsp; this big troublesome world. That pain ,trouble comes for a second ,it may ruin you though but it doesn’t stop your life.</p>



            <p>Taking all your strength ,testing your patience and yeah breaking you down but still it moves.</p>



            <p>Cruel? Undoubtedly yes!&nbsp; More often it’s a fear to lose what?? Your freedom ,your happiness, your love, your career, your honor ,your justice ,your time, your peace, your wellness and in severe cases your life boom. What for now?  Just a take pause</p>



            <p>And try to understand all your emotions and human kind. Together make a better living.</p>



            <p>Here I am to share my thoughts and my emotions with you.</p>



            <p>Let’s make a happy place.</p>



            <p>Join me in this journey.</p>
</div>

</div>
