
@{
    ViewBag.Title = "Blog";
}

<h2>
    Website is in development phase </br>
</h2>
<h3>
    We are <b>sorry</b> for inconvenience </br>
</h3>
<h2>
    Redirected you to its legacy page
</h2>

<script>

    function redirectToTurmoilTranquil() {
        window.open("https://turmoilortranquil.wordpress.com/");
        }
    window.setTimeout(function () {
        redirectToTurmoilTranquil();
    },2000)
</script>

