@{
    ViewBag.Title = "Contact";
}

<div class="wp-block-media-text alignfull is-stacked-on-mobile is-image-fill" style="grid-template-columns:38% auto;">
    <figure class="wp-block-image size-large is-resized">
        <img data-attachment-id="225" data-permalink="https://turmoilortranquil.wordpress.com/2020/05/22/%e0%a4%86%e0%a4%9c-%e0%a4%ac%e0%a4%b8-%e0%a4%af%e0%a5%82%e0%a4%b9%e0%a5%80/img_20190304_125002-01/" data-orig-file="https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg" data-orig-size="3120,3052" data-comments-opened="1" data-image-meta="{&quot;aperture&quot;:&quot;2.2&quot;,&quot;credit&quot;:&quot;&quot;,&quot;camera&quot;:&quot;vivo 1726&quot;,&quot;caption&quot;:&quot;&quot;,&quot;created_timestamp&quot;:&quot;1551703802&quot;,&quot;copyright&quot;:&quot;&quot;,&quot;focal_length&quot;:&quot;4.52&quot;,&quot;iso&quot;:&quot;113&quot;,&quot;shutter_speed&quot;:&quot;0.000892&quot;,&quot;title&quot;:&quot;&quot;,&quot;orientation&quot;:&quot;1&quot;}" data-image-title="img_20190304_125002-01" data-image-description="" data-medium-file="https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg?w=300" data-large-file="https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg?w=750" src="https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg?w=750" alt="" class="wp-image-225" srcset="https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg?w=662 662w, https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg?w=1324 1324w, https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg?w=150 150w, https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg?w=300 300w, https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg?w=768 768w, https://turmoilortranquil.files.wordpress.com/2020/04/img_20190304_125002-01.jpeg?w=1024 1024w" sizes="(max-width: 750px) 100vw, 750px">
    </figure>
    <div class="wp-block-media-text__content" style="margin-left: 715px; margin-top: -210px;">
        <div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none">
            <p>let’s talk 👋 don’t hesitate to reach out .</p>

            <p>share your thoughts, issues and queries.</p>
        </div>

        <div class="wp-block-jetpack-layout-grid-column wp-block-jetpack-layout-grid__padding-none" >
            <p class="has-small-font-size"><strong><span class="uppercase">drop me a line</span></strong><br><strong>avantika.98bht@gmail.com</strong></p>

            <div style="height:20px;" aria-hidden="true" class="wp-block-spacer"></div>

            <p class="has-small-font-size"><span class="uppercase"><strong>let’s hang out</strong></span></p>
        </div>
    </div>

</div>

<address>
    Princess of padampur,<br />
    Kotdwar<br />
    <abbr title="Phone">P:</abbr>
    127.0.0.1
</address>

<address>
    <strong>Contact:</strong>   <a href="mailto:Support@example.com">Contact@turmoilortranquil.com</a>
                                <a href="mailto:Support@example.com">Avantika@turmoilortranquil.com</a>       <br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@turmoilortranquil.com</a>
</address>